@import '../../../../../themes/default/variables.css';

.localeBtn {
    width: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--colorWhite);
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 2px;
    margin-left: 15px;
    font-size: 1rem;
    list-style-type: none;
    border: 1px solid var(--colorWhite);
    border-radius: 4px;
    outline: none;
    text-align: center;
}

.inactive {
    color: var(--colorLight40);
    border: 1px solid var(--colorLight40);
}
